<?xml version="1.02" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.pockethungarian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo01"
        android:label="@string/app_name"
        android:versionName="PocketHunRelease"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicConversation"
            android:label="@string/first_block"
            />
        <activity
            android:name=".Family"
            android:label="@string/second_block"
            />
        <activity
            android:name=".House"
            android:label="@string/third_block"
            />
        <activity
            android:name=".ColorsNumbers"
            android:label="@string/fourth_block"
            />
        <activity
            android:name=".Grocery"
            android:label="@string/fifth_block"
            />
        <activity
            android:name=".EatingOut"
            android:label="@string/sixth_block"
            />
        <activity
            android:name=".Accommodation"
            android:label="@string/seventh_block"
            >
        </activity>
    </application>

</manifest>